@import '../../styles/variables.scss';

.navigation {
    width: 100%;
    max-width: 500px;
    margin-top: -80px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation svg {
    width: 100%;
}

.navigation .pages {
    list-style-type: none;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    justify-content:center;
}

$fractal-color : $color__red;
$fractal-color-hover : $color__white;

.navigation svg path {
    transition: all 0.2s ease;
    fill: $fractal-color;
    stroke: $fractal-color;
}


.navigation .fractal-container {
    cursor: pointer;
    
    &:hover path {
        fill: $fractal-color-hover;
        stroke: $fractal-color-hover;
    }
}


.navigation .title {
    font-size: 2em;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    display: block;
}

.navigation .page-link a {
    color: $color__black;
    font-size: $font__big;
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
        letter-spacing: 2px;
    }
}

.navigation .page-link {
    padding: 5px 0;
}
