/**
 * Fonts
 */

@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

$font__edgy: 'Josefin Slab', serif;
$font__curvy: 'Cormorant Garamond', serif;

/**
 * Colorscheme
 */
$color__red: #EA4240;
$color__black: #292929;
$color__white: #F4E7D4;
$color__blue: #316C9F;
$color__purple: #9D3669;

/**
 * Font Sizes
 */




