html {
    margin: 0;
    padding: 0;
}

/*
  Set our default styles from TeX for the document as a whole.
*/
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

body{
    font-family: 'Libre Baskerville', serif;
    line-height: 1.5;
    font-size: 1em;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

.container {
    max-width: 600px;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 10px;
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.nav-container {
    maring: 0 10px;
    text-decoration: none;
    font-size: 20px;
}


body .content {
    width: 100%;
}

